<div class="jumbotron text-center">
    <h1>Mean Stack AwesomeApp</h1>
    <p class="lead">Welcome to our Awesome app about anything</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h3>Angular</h3>
        <p>Weird Javascript framework, prefer Vue</p>
    </div>
    <div class="col-sm-4">
        <h3>NodeJs</h3>
        <p>Awesome, just that</p>
    </div>
    <div class="col-sm-4">
        <h3>MongoDB</h3>
        <p>Still have no critical view</p>
    </div>
</div>